/**Description: Primary style sheet for San Joaquin Valley Town Hall website
*Author: JianSatumbaga*/
body {background-color: blue;}/*This has been fixed from blu.*/
h1 {font-style: italic;
     color: black;
h1 {list-style-type: square;} /*Changes the bullets to squares*/
}